
.btm a{
  color: #ffffff;
  text-decoration:none;
}


header{
 background-color: #b0a083; 
}

.bg{
  background-color: #d5b987;
  padding-top: 20px;
  padding-bottom: 30px;
}

.bgme{
  background-color: #d5b987;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}
.bgf{
  background-color: #d5b987;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
 

input{
  width: 200px;

}

textarea{
 width: 200px;
 height: 150px;

}

.footer{
background-color:  #b0a083;
}