<% content_for :title do %>
  カード編集
<% end %>

<div class="box">
  <div class="box-header with-border">
  </div>
  <div class="box-body">
    <%= render 'form.html.erb', oracle_card: @oracle_card %>
  </div>
</div>
