<div class="container">
  <div class="row box1">
    <% @imgs.each do |i| %>
      <div class="col-md-sm-3 card mt-1 ml-1 box2" style="width: 280px;">
        <img src="img/mandara/<%= i %>.jpg" class="img-fluid shadow rounded mt-2 ml-2 mr-2" style="width: 265px; alt="...">
        <div class="card-body">
          <h6 class="card-title">曼荼羅ナンバー<%= i %></h6>
          <a href="/mandara/<%= i %>.html" class="btn btn-info box3">拡大画面</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

