<% content_for :menu_setting do %>
  <% @menu = :painting %>
<% end %>

<div class="container">
  <div class="row box1">
    <% @imgs2.each do |i| %>
      <div class="col-md-sm-3 box2 card mt-1 ml-1" style="width: 280px;">
        <img src="/img/painting/<%= i %>.jpg" class="img-fluid shadow rounded mt-2 ml-2 mr-2" style="width: 265px; alt="...">
        <div class="card-body">
          <h6 class="card-title">塗り絵ナンバー<%= i %></h6>
          <a href="/painting/<%= i %>" class="btn btn-info box3">拡大画面</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
