<div class="body-top">
<div class="body-no">
<h1>画像をクリックすると拡大画面に変わります</h1>
</div>

<div class="body-no">
<img src="img/no/no2-12.png" width="200px" height="30px" alt="番号画像" class="list">
<img src="img/no/no2-11.png" width="200px" height="30px" alt="番号画像" class="list">
<img src="img/no/no2-10.png" width="200px" height="30px" alt="番号画像" class="list">
</div>
<div class="body-list">
<a href="paintingmatter/painting12.html"><img src="img/painting/2-n.png" width="220px" height="220px" alt="曼荼羅画像"></a>
<a href="paintingmatter/painting11.html"><img src="img/painting/3-n.png" width="220px" height="220px" alt="曼荼羅画像"></a>
<a href="paintingmatter/painting10.html"><img src="img/painting/4-n.png" width="220px" height="220px" alt="曼荼羅画像"></a>
</div>

<div class="body-no">
<img src="img/no/no2-9.png" width="200px" height="30px" alt="番号画像" class="list">
<img src="img/no/no2-8.png" width="200px" height="30px" alt="番号画像" class="list">
<img src="img/no/no2-7.png" width="200px" height="30px" alt="番号画像" class="list">
</div>
<div class="body-list">
<a href="paintingmatter/painting9.html"><img src="img/painting/5-n.png" width="220px" height="220px" alt="曼荼羅画像"></a>
<a href="paintingmatter/painting8.html"><img src="img/painting/6-n.png" width="220px" height="220px" alt="曼荼羅画像"></a>
<a href="paintingmatter/painting7.html"><img src="img/painting/7-n.png" width="220px" height="220px" alt="曼荼羅画像"></a>
</div>

<div class="body-no">
<img src="img/no/no2-6.png" width="200px" height="30px" alt="番号画像" class="list">
<img src="img/no/no2-5.png" width="200px" height="30px" alt="番号画像" class="list">
<img src="img/no/no2-4.png" width="200px" height="30px" alt="番号画像" class="list">
</div>
<div class="body-list">
<a href="paintingmatter/painting6.html"><img src="img/painting/8-n.png" width="220px" height="220px" alt="曼荼羅画像"></a>
<a href="paintingmatter/painting5.html"><img src="img/painting/9-n.png" width="220px" height="220px" alt="曼荼羅画像"></a>
<a href="paintingmatter/painting4.html"><img src="img/painting/10-n.png" width="220px" height="220px" alt="曼荼羅画像"></a>
</div>

<div class="body-no">
<img src="img/no/no2-3.png" width="200px" height="30px" alt="番号画像" class="list">
<img src="img/no/no2-2.png" width="200px" height="30px" alt="番号画像" class="list">
<img src="img/no/no2-1.png" width="200px" height="30px" alt="番号画像" class="list">
</div>
<div class="body-list">
<a href="paintingmatter/painting3.html"><img src="img/painting/11-n.png" width="220px" height="220px" alt="曼荼羅画像"></a>
<a href="paintingmatter/painting2.html"><img src="img/painting/12-n.png" width="220px" height="220px" alt="曼荼羅画像"></a>
<a href="paintingmatter/painting1.html"><img src="img/painting/13-n.png" width="220px" height="220px" alt="曼荼羅画像"></a>
</div>
</div><!-- body-top -->
