<section class="container">
<div class="row">
<div class="col-sm-3 bg">
<img src="img/no/no2-12.png" class="card-img-top" alt="番号画像">
<a href="paintingmatter/painting12.html"><img src="img/painting/13-n.png" class="card-img-top" alt="曼荼羅画像"></a>
</div>
<div class="col-sm-3 bg">
<img src="img/no/no2-11.png" class="card-img-top" alt="番号画像">
<a href="paintingmatter/painting11.html"><img src="img/painting/12-n.png" class="card-img-top" alt="曼荼羅画像"></a>
</div>
<div class="col-sm-3 bg">
<img src="img/no/no2-10.png" class="card-img-top" alt="番号画像">
<a href="paintingmatter/painting10.html"><img src="img/painting/11-n.png" class="card-img-top" alt="曼荼羅画像"></a>
</div>
<div class="col-sm-3 bg">
<img src="img/no/no2-9.png" class="card-img-top" alt="番号画像">
<a href="paintingmatter/painting9.html"><img src="img/painting/10-n.png" class="card-img-top" alt="曼荼羅画像"></a>
</div>
</div>

<div class="row">
<div class="col-sm-3 bg">
<img src="img/no/no2-8.png" class="card-img-top" alt="番号画像">
<a href="paintingmatter/painting8.html"><img src="img/painting/9-n.png" class="card-img-top" alt="曼荼羅画像"></a>
</div>
<div class="col-sm-3 bg">
<img src="img/no/no2-7.png" class="card-img-top" alt="番号画像">
<a href="paintingmatter/painting7.html"><img src="img/painting/8-n.png" class="card-img-top" alt="曼荼羅画像"></a>
</div>
<div class="col-sm-3 bg">
<img src="img/no/no2-6.png" class="card-img-top" alt="番号画像">
<a href="paintingmatter/painting6.html"><img src="img/painting/7-n.png" class="card-img-top" alt="曼荼羅画像"></a>
</div>
<div class="col-sm-3 bg">
<img src="img/no/no2-5.png" class="card-img-top" alt="番号画像">
<a href="paintingmatter/painting5.html"><img src="img/painting/6-n.png" class="card-img-top" alt="曼荼羅画像"></a>
</div>
</div>

<div class="row">
<div class="col-sm-3 bg">
<img src="img/no/no2-4.png" class="card-img-top" alt="番号画像">
<a href="paintingmatter/painting4.html"><img src="img/painting/5-n.png" class="card-img-top" alt="曼荼羅画像"></a>
</div>
<div class="col-sm-3 bg">
<img src="img/no/no2-3.png" class="card-img-top" alt="番号画像">
<a href="paintingmatter/painting3.html"><img src="img/painting/4-n.png" class="card-img-top" alt="曼荼羅画像"></a>
</div>
<div class="col-sm-3 bg">
<img src="img/no/no2-2.png" class="card-img-top" alt="番号画像">
<a href="paintingmatter/painting2.html"><img src="img/painting/3-n.png" class="card-img-top" alt="曼荼羅画像"></a>
</div>
<div class="col-sm-3 bg">
<img src="img/no/no2-1.png" class="card-img-top" alt="番号画像">
<a href="paintingmatter/painting1.html"><img src="img/painting/2-n.png" class="card-img-top" alt="曼荼羅画像"></a>
</div>
</div>

</section>
