<% content_for :menu_setting do %>
  <% @menu = :profile %>
<% end %>

<section class="container">
<div class="row">
<div class="col-sm-4 bgme box2">
<img src="img/72-1.png" class="card-img-top" alt="自己紹介画像">
</div>

<div class="col-sm-8 bgme box2">
  <h5 class="mt-0">自己紹介</h5>
  
  <p>
    どうも管理人の洲鎌ですこのサイトの素材は無料素材になっています。<br>
    私は曼荼羅を中心にしたイラスト制作や電卓やタイマーなどのプログ<br>
    ラミングなどパソコンに関する知識をスカイプを使っていろいろ教えて<br>
    いますご希望の方はメッセージで連絡して下さい、いろいろな質問もＯＫ<br>
    です。相互リンクなども良ければ一緒にしましょうヨロシクお願いします
  </p>

  <ul>
    <li><a href="https://naoki1963.com/" target="_blank">ホームページ</a>
    <li><a href="https://twitter.com/sugamanaokinao" target="_blank">Twitter<a/>
    <li><a href="https://suzuri.jp/urasoe17" target="_blank">スズリ</a>
    <li><a href="https://babaji.ti-da.net/" target="_blank">ブログ</a>
    <li><a href="https://www.youtube.com/channel/UCLkoWLuprbLpmCCq5WdwIAg" target="_blank">YouTube</a>
    <li><a href="https://whowatch.tv/profile/w:urasoe17" target="_blank">ふわっち</a>
  <ul>

</div>

</div>

<div class="row box1">
<div class="col-sm-4 bgf box2">
    <form action="question_send" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <h3 class="section-title">お問い合わせ</h3>
    <% if not @error_messages.nil? and @error_messages.size > 0 %>
      <ul class="contact-error-message">
        <% @error_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
      <div class="form-group box2">
        <label for="exampleInputEmail1">メールアドレス（必須）</label>
        <input name="email" type="text" class="form-control" id="exampleInputEmail1" value="<%= @email %>">
      </div>
      <div class="form-group box2">
        <label for="exampleFormControlTextarea1">お問い合わせ内容（必須）</label>
        <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"><%= @message %></textarea>
      </div>
      <p class="contact-content" >※必須項目は必ずご入力ください</p>
        <!-- <input>要素を追加してください -->
        <input class="contact-submit" type="submit" value="送信">
    </form>

</div>
<div class="col-sm-8 bg box2">
</div>
</div>
</section>
