<div class="body-profile">
<div class="profile">
  <h1>プロフィール</h1>
  <img src="img/72-1.jpg" width="150" height="150"  align="left">
  <p class="pp">どうも管理人の洲鎌ですこのサイトの素材は無料素材に<br>
  なっています。私は曼荼羅を中心にしたイラスト制作や電卓や<br>
  タイマーなどのプログラミングなどパソコンに関する知識を<br>
  スカイプを使っていろいろ教えていますご希望の方はメッセージで<br>
  連絡して下さい、いろいろな質問もＯＫです。相互リンクなども<br>
  良ければ一緒にしましょうヨロシクお願いします</p>
</div>

<div class="main">
<form action="question_send" method="post">
<input type="hidden" name="authenticity_token" id="authenticity_token" value="SXojob1nZ2cSQvewK3CZsa/IiPLXlk9b9M5bKKYc3zvL6/jEcLaZJb/S6JVYwv4dnletK0eeVbZjYOHs7ajAQA==" />
  <h3 class="section-title">お問い合わせ</h3>
  <p class="contact-content">メールアドレス（必須）</p>
<input name="email" type="text" value="">
  <p class="contact-content">お問い合わせ内容（必須）</p>
<!-- <textarea>要素を追加してください -->
<textarea name="message"></textarea>
  <p class="contact-content" >※必須項目は必ずご入力ください</p>
<!-- <input>要素を追加してください -->
<input class="contact-submit" type="submit" value="送信">
</form>
</div>
</div><!-- body-profile-->
