<section class="container">
<div class="row">
<div class="col-sm-4 bgme">
<img src="img/72-1.png" class="card-img-top" alt="自己紹介画像">
</div>
<div class="col-sm-8 bgme">
<h5 class="mt-0">自己紹介</h5>
<p>どうも管理人の洲鎌ですこのサイトの素材は無料素材になっています。<br>
私は曼荼羅を中心にしたイラスト制作や電卓やタイマーなどのプログ<br>
ラミングなどパソコンに関する知識をスカイプを使っていろいろ教えて<br>
いますご希望の方はメッセージで連絡して下さい、いろいろな質問もＯＫ<br>
です。相互リンクなども良ければ一緒にしましょうヨロシクお願いします</p>
</div>
</div>

<div class="row">
<div class="col bgf">
    <form action="question_send" method="post">
    <input type="hidden" name="authenticity_token" id="authenticity_token" value="SXojob1nZ2cSQvewK3CZsa/IiPLXlk9b9M5bKKYc3zvL6/jEcLaZJb/S6JVYwv4dnletK0eeVbZjYOHs7ajAQA==" />
      <h3 class="section-title">お問い合わせ</h3>
      <p class="contact-content">メールアドレス（必須）</p>
    <input name="email" type="text" value="">
      <p class="contact-content">お問い合わせ内容（必須）</p>
    <!-- <textarea>要素を追加してください -->
    <textarea name="message"></textarea>
      <p class="contact-content" >※必須項目は必ずご入力ください</p>
    <!-- <input>要素を追加してください -->
    <input class="contact-submit" type="submit" value="送信">
    </form>
</div>
</div>
</section>
