<section class="container">
  <div class="row box1">
    <div class="col bgf box2">
      <h1 class="mt-3">送信完了</h1>

      <p>
        お問い合わせを受け付けました。<br>
        数日以内にご入力いただいたメールアドレス宛に返信させていただきます。<br>
        1 週間以上返信がない場合はメールアドレスを間違えている可能性がありますので、
        再度こちらよりお問い合わせしていただけますと幸いです。
      </p>
    </div>
  </div>
</section>