<div class="body-top">
<div class="body-no">
  <h1>画像をクリックすると拡大画面に変わります</h1>
</div>

<div class="body-no">
  <img src="img/no/no3-12.png" width="200px" height="30px" alt="番号画像" class="list">
  <img src="img/no/no3-11.png" width="200px" height="30px" alt="番号画像" class="list">
  <img src="img/no/no3-10.png" width="200px" height="30px" alt="番号画像" class="list">
</div>
<div class="body-list">
  <a href="workmatter/workmatter12.html"><img src="img/work-a/12-18-14-1.jpg" width="220px" height="220px" alt="曼荼羅画像"></a>
  <a href="workmatter/workmatter11.html"><img src="img/work-a/12-18-13-1.jpg" width="220px" height="220px" alt="曼荼羅画像"></a>
  <a href="workmatter/workmatter10.html"><img src="img/work-a/12-18-12-1.jpg" width="220px" height="220px" alt="曼荼羅画像"></a>
</div>

<div class="body-no">
  <img src="img/no/no3-9.png" width="200px" height="30px" alt="番号画像" class="list">
  <img src="img/no/no3-8.png" width="200px" height="30px" alt="番号画像" class="list">
  <img src="img/no/no3-7.png" width="200px" height="30px" alt="番号画像" class="list">
</div>
<div class="body-list">
  <a href="workmatter/workmatter9.html"><img src="img/work-a/12-18-11-1.jpg" width="220px" height="220px" alt="曼荼羅画像"></a>
  <a href="workmatter/workmatter8.html"><img src="img/work-a/12-18-10-1.jpg" width="220px" height="220px" alt="曼荼羅画像"></a>
  <a href="workmatter/workmatter7.html"><img src="img/work-a/12-18-9-1.jpg" width="220px" height="220px" alt="曼荼羅画像"></a>
</div>

<div class="body-no">
  <img src="img/no/no3-6.png" width="200px" height="30px" alt="番号画像" class="list">
  <img src="img/no/no3-5.png" width="200px" height="30px" alt="番号画像" class="list">
  <img src="img/no/no3-4.png" width="200px" height="30px" alt="番号画像" class="list">
</div>
<div class="body-list">
  <a href="workmatter/workmatter6.html"><img src="img/work-a/12-18-8-1.jpg" width="220px" height="220px" alt="曼荼羅画像"></a>
  <a href="workmatter/workmatter5.html"><img src="img/work-a/12-18-7-1.jpg" width="220px" height="220px" alt="曼荼羅画像"></a>
  <a href="workmatter/workmatter4.html"><img src="img/work-a/12-18-6-1.jpg" width="220px" height="220px" alt="曼荼羅画像"></a>
</div>
        
<div class="body-no">
  <img src="img/no/no3-3.png" width="200px" height="30px" alt="番号画像" class="list">
  <img src="img/no/no3-2.png" width="200px" height="30px" alt="番号画像" class="list">
  <img src="img/no/no3-1.png" width="200px" height="30px" alt="番号画像" class="list">
</div>
<div class="body-list">
  <a href="workmatter/workmatter3.html"><img src="img/work-a/12-18-5-1.jpg" width="220px" height="220px" alt="曼荼羅画像"></a>
  <a href="workmatter/workmatter2.html"><img src="img/work-a/12-18-4-1.jpg" width="220px" height="220px" alt="曼荼羅画像"></a>
  <a href="workmatter/workmatter1.html"><img src="img/work-a/12-18-3-1.jpg" width="220px" height="220px" alt="曼荼羅画像"></a>
</div>
</div><!-- body-top -->
