 
  <div>

  <div class="wrap">
  <div class="box7">
  <div class="box8">

   <div class="content-heder">
    <h1 id="sec11">癒しの会議</h1>
  </div>
    <a href="#sec4"><p>下</p></a>
  <div class="content-main">
    <h2>第4回</h2>
  </div>
    <h3>『感情についての学び』</h3>
  <div>
    <ol class="gurandorurru">
      <li>資料の中の４６種類の感情の中で自分がよく感じている感情を２つあげて見ましょう</li>
      <li>４６種類の感情の中で、あまり感じたくない感情を２つあげてみましょう</li>
      <li>自分の感情をコントロールする方法があれば教えて下さい</li>
    </ol>
  </div>

    <h2>５大感情を４６種類に分類した感情地図</h2>
    <h3>楽しみ</h3>
  <div class="table">
    <table>
      <tr>
        <td class="td1">１</td><td class="td2">狂気</td><td>非常に大きな幸福の状態</td>
      </tr>
      <tr>
        <td>２</td><td>興奮</td><td>強力な熱意</td>
      </tr>
      <tr>
        <td>３</td><td>驚嘆</td><td>非常に大きな驚きや信じがたい経験</td>
      </tr>
      <tr>
        <td>４</td><td>ナチェス</td><td>自分の子供や教え子が成長したときの誇らしい喜び</td>
      </tr>
      <tr>
        <td>５</td><td>フィエロ</td><td>困難な挑戦を乗り越えた時の喜び</td>
      </tr>
      <tr>
        <td>６</td><td>高慢</td><td>自分自身の成果や、仲間の成果から得た深い喜び</td>
      </tr>
      <tr>
        <td>７</td><td>平穏</td><td>穏やかでることの喜び</td>
      </tr>
      <tr>
        <td>８</td><td>安心</td><td>不快であることがなくなった時の心の落ち着き</td>
      </tr>
      <tr>
        <td  valign="top">９</td><td>シャーデンフロィデ</td><td  valign="top">他人やライバルの不幸を楽しむ気持ち</td>
      </tr>
      <tr>
        <td>１０</td><td>面白い</td><td>遊び心のある、明るく楽しい気持ち</td>
      </tr>
      <tr>
        <td>１１</td><td>同情</td><td>他人の苦しみを和らげることで得られる喜びの気持ち</td>
      </tr>
      <tr>
        <td>１２</td><td>喜び</td><td>優しさや思いやりを見たときに経験する、暖かく爽やかな気持ち</td>
      </tr>
      <tr>
        <td  valign="top">１３</td><td  valign="top">感覚的快楽</td><td>視覚、聴覚、触覚、味覚、嗅覚の５つの感覚のうち１つを通して得られた時の楽しさ</td>
      </tr>
    </table>
  </div>
    <a href="#sec3"><p id="sec4">下</p></a>
    <h3>嫌気</h3></a>
  <div class="table">
    <table>
      <tr>
        <td class="td1">１４</td><td class="td2">強い嫌悪</td><td>他人に向けた激しい嫌悪感、または自分自身に向けた自己嫌悪</td>
      </tr>
      <tr>
        <td>１５</td><td>憎悪</td><td>強い嫌悪と憎しみが混ざり合った気持ち</td>
      </tr>
      <tr>
        <td>１６</td><td>反感</td><td>嫌悪感と憎しみが混ざり合った気持ち</td>
      </tr>
      <tr>
        <td>１７</td><td>嫌気</td><td>コンセプトやアイデアに対する強い嫌悪感</td>
      </tr>
      <tr>
        <td>１８</td><td>嫌悪</td><td>悪い味、匂い、物質、またはアイデアへの嫌悪感</td>
      </tr>
      <tr>
        <td>１９</td><td>嫌い</td><td>嫌いなことを避けるための衝動</td>
      </tr>
      <tr>
        <td>２０</td><td>苦手</td><td>自分にとって得意ではない趣好</td>
      </tr>
    </table>
  </div>
    <h3>悲しみ</h3>
  <div class="table">
    <table>
      <tr>
        <td class="td1">２１</td><td class="td2">苦悩</td><td>激しい悲しみや苦しみ</td>
      </tr>
      <tr>
        <td>２２</td><td>悲嘆</td><td>苦痛と苦しみの感覚、多くの場合は喪失が原因</td>
      </tr>
      <tr>
        <td>２３</td><td>悲哀</td><td>深い喪失の悲しみ</td>
      </tr>
      <tr>
        <td>２４</td><td>絶望</td><td>悪い状況が変わるという希望の喪失</td>
      </tr>
      <tr>
        <td>２５</td><td>悲惨</td><td>強い苦しみや不幸の気持ち</td>
      </tr>
      <tr>
        <td>２６</td><td>落胆</td><td>良いことは何も起こらないという信念</td>
      </tr>
      <tr>
        <td>２７</td><td>無力</td><td>状況が改善できなという認識</td>
      </tr>
      <tr>
        <td>２８</td><td>諦め</td><td>何もできないという信念</td>
      </tr>
      <tr>
        <td  valign="top">２９</td><td>逸脱</td><td  valign="top">考えることを避けたくなる悲しみ</td>
      </tr>
      <tr>
        <td>３０</td><td>挫折</td><td>失敗を繰り返して、できないと感じる信念</td>
      </tr>
      <tr>
        <td>３１</td><td>残念</td><td>期待が満たされていない感情</td>
      </tr>
    </table>
  </div>

    <h3>恐れ</h3>
  <div class="table">
    <table>
      <tr>
        <td class="td1">３２</td><td class="td2">震駭</td><td>激しい恐怖</td>
      </tr>
      <tr>
        <td>３３</td><td>恐怖</td><td>嫌悪感とショックの混在</td>
      </tr>
      <tr>
        <td>３４</td><td>パニック</td><td>コントロールができない突然の恐怖</td>
      </tr>
      <tr>
        <td>３５</td><td>自暴自棄</td><td>危険を減らすことができない、やけくそな感情</td>
      </tr>
      <tr>
        <td>３６</td><td>恐れる</td><td>重大な危険を予期した感情</td>
      </tr>
      <tr>
        <td>３７</td><td>不安</td><td>訪れるかもしれない脅威への恐怖</td>
      </tr>
      <tr>
        <td>３８</td><td>緊張感</td><td>危険があるかどうかわからない不確実な感情</td>
      </tr>
      <tr>
        <td>３９</td><td>狼狽</td><td>危険の可能性を予期した、うろたえる感情</td>
      </tr>
    </table>
  </div>
    <a href="#sec2"><p id="sec3">下</p></a>
    <h3怒り</h3>
  <div class="table">
    <table>
      <tr>
        <td class="td1">４０</td><td class="td2">憤激</td><td>制御できない暴力的な怒り</td>
      </tr>
      <tr>
        <td>４１</td><td>執念</td><td>傷つけられたことに対して復讐したいと考える欲望</td>
      </tr>
      <tr>
        <td>４２</td><td>怨み</td><td>不当な扱いを受けた時の怒り</td>
      </tr>
      <tr>
        <td>４３</td><td>論争性</td><td>違う意見に対して反抗する気持ち</td>
      </tr>
      <tr>
        <td>４４</td><td>激昂</td><td>繰り返されるか、強い迷惑によって引き起こされる怒り</td>
      </tr>
      <tr>
        <td>４５</td><td>フラストレーション</td><td>欲求が満たされない時の苛立ち</td>
      </tr>
      <tr>
        <td>４６</td><td>苛立ち</td><td>ちょっとした迷惑や不便さに対する軽い怒り</td>
      </tr>
    </table>
  </div>
  <div class="content-main">
    <h3>感情が継続する時間</h3>
      <div class="table">
        <table>
          <tr>
            <td class="td1">１</td><td class="td2">悲しみ</td><td>１２０時間（５日間）</td>
          </tr>
          <tr>
            <td>２</td><td>憎しみ</td><td>６０時間（２５日間）</td>
          </tr>
          <tr>
            <td>３</td><td>喜び</td><td>３５時間</td>
          </tr>
          <tr>
            <td>４</td><td>絶望</td><td>２４時間</td>
          </tr>
          <tr>
            <td>５</td><td>希望</td><td>２４時間</td>
          </tr>
          <tr>
            <td>６</td><td>不安</td><td>２４時間</td>
          </tr>
          <tr>
            <td>７</td><td>落胆</td><td>２４時間</td>
          </tr>
          <tr>
            <td>８</td><td>満足感</td><td>２４時間</td>
          </tr>
          <tr>
            <td>９</td><td>妬み</td><td>１５時間</td>
          </tr>
          <tr>
            <td>１０</td><td>安心感</td><td>８時間</td>
          </tr>
          <tr>
            <td>１１</td><td>熱狂</td><td>６時間</td>
          </tr>
          <tr>
            <td>１２</td><td>賞賛</td><td>５時間</td>
          </tr>
          <tr>
            <td>１３</td><td>感謝</td><td>５時間</td>
          </tr>
          <tr>
            <td>１４</td><td>くつろぎ</td><td>４．３時間</td>
          </tr>
          <tr>
            <td>１５</td><td>罪悪感</td><td>３．５時間</td>
          </tr>
          <tr>
            <td>１６</td><td>ストレス</td><td>３時間</td>
          </tr>
          <tr>
            <td>１７</td><td>誇り</td><td>２．６時間</td>
          </tr>
          <tr>
            <td>１８</td><td>感動</td><td>２．５時間</td>
          </tr>
          <tr>
            <td>１９</td><td>怒り</td><td>２時間</td>
          </tr>
          <tr>
            <td>２０</td><td>退屈</td><td>２時間</td>
          </tr>
          <tr>
            <td>２１</td><td>驚き</td><td>２時間</td>
          </tr>
          <tr>
            <td>２２</td><td>苛立ち</td><td>１．３時間</td>
          </tr>
          <tr>
            <td>２３</td><td>同情</td><td>１．３時間</td>
          </tr>
          <tr>
            <td>２４</td><td>屈辱</td><td>０．８時間</td>
          </tr>
          <tr>
            <td>２５</td><td>恐れ</td><td>０．７時間</td>
          </tr>
          <tr>
            <td>２６</td><td>羞恥心</td><td>０．５時間</td>
          </tr>
          <tr>
            <td>２７</td><td>嫌悪</td><td>０．５時間</td>
          </tr>
        </table>
      </div>
  </div> <!-- content-main -->
   <a href="#sec1"><p id="sec2">下</p></a>
  <div class="content-main">
    <h3 id="sec6">感情についての学び</h3>
  </div>
    <p class="p">
      今、自分がどんなものの考え方をしているのか？その、ものの考え方は、もっともどんな
      感情によって下支えされているのか？人間には、五大感情の、楽しみ・嫌気・悲しみ・
      恐れ・怒りがあるそうです。何らかの感情に下支えされた、ものの考え方によって
      アウトプットされる自らの行動全般を静まった心境で観察できるのならそれらは、
      自己の本質からくる行動か？又は、不合理な感情、その他によって生まれた物なのか？
      と判断できると思います。思考や行動を冷静に分析するのは難しい面が多々あるように
      感じます。なので内側に意識を向けて、今感じている感情はどういった感情なのか。
      と観ていく方がよりしやすい自己分析かと思います。正解、不正解、善悪は無く、
      そこに本質が働いているか否か。それが人間の幸福を左右するものだと思います。
      本質は、心地よく愛を感じる場所。そして、その自分の本質の愛の場所にとどまれる
      のなら、又逆に、ものの考え方、行動もしっくりくるものになるように思います。
      第4回目癒しの会議のテーマは、《感情についての学び》です。1人で哲学する
      時間も有意義ですが、三人寄れば文殊の知恵とも言われているように、
      ブレインストーミングの手法を使って自由な発想と新たな発見を見つけていきます
      自らの感情を観て行く事で、本質を発見できるような時間になれば幸いです。
    </p>
  <div class="back3">
    <div class="content-main">
      <h2>第３回</h2>
    </div>
      <a href="#sec8"><h3 id="sec7">sexについての理解を深める為の学びの、考察的議事録。</h3></a>
        <p class="p">今回は、前座として余興的な感じでホワイトボートを利用してヨガのチャクラと
          性エネルギーについて少しお話をさせて頂いたあとに、いつものように会議に入りました。
      <a href="#sec9"><h3 id="sec8">議題</h3></a>
        <p class="p">より沢山の意見が出されるように単な問いかけをいくつか用意しました。
         sexで得られるメリットは、身体と心の心地良さであったり、自分の性を感じる事が
         できる事や、生きている実感や自由を感じると言う意見などが出されました。</p>
      <a href="#sec10"><h3 id="sec9">デメリットは</h3></a>
        <p class="p">翌日に睡眠不足になる事や体調の不良、などとこちらは、あげればキリがないかと思う程に
          意見が沢山出されました。<br>
          やはり、sexは、初めの印象が強く残り後々のsexライフに影響を与えているものだと思いました。
          しかしながらsexの理想像的なものはかなり抽象的であるようで、言葉にする事こそ、
          そのような体験は 未経験なので表現するには難しく（はじめにヨガのチャクラと性欲の関係を、
          話したから余計に難しくさせたかも。反省）しかし、その理想像こそ、自分の本質を探る
          手がかりのように思いました。</p>
      <a href="#sec5"><p id="sec1">上</p></a>
      <h3 id="sec10">sexに限らず</h3>
      <h4>広い意味では</h4>
      <p class="p">運命を思考や環境や五感でとらえている今の体験は、本当の自由と幸福を知る為の
      課題だと言えます。課題は真実ではなく、ジャンプ台のような意味合いにもとれてきますね
      なので、今がどんな状況であれ、あなたが正しい道にいる事は間違いありません。
      まっすぐ心に映し出された真実に向かって進んでいくだけです。</p>
      <h4>あなたが</h4>
      <p class="p">本質を達成するために与えられた課題にこそ感謝し、真実から目をそらさずに、心よりも深くに
      ある存在に意識を向け続ける事が出来るのなら、そこは静かで暖かく広がりのある、
      輝いた世界だと感じる事が出来るはずです。</p>
      <h4>癒しの会議とは</h4>
      <p class="p">今の思考や五感で生じる、苦楽をありがたく受け止めて、自分がどう生きていきたいのか、
      それを、追求していけるのが、癒しの会議です。昨日は、ご参加いただきありがとう
      ございました。
      </p>
  </div><!-- /back3 -->

  </div><!-- wrap -->
  </div><!-- box7 -->
  </div><!-- box8 -->
  <div class="box9">
    <footer id="footer">
      <div class="footer">
        <div class="footer-logo"><a href="question">比嘉行介</a></div>
          <div class="footer-list">
            <ul>
              <li class="botan"><a href="index">トップ</a></li>
              <li class="botan"><a href="conference">会議</a></li>
              <li class="botan"><a href="incense">お香</a></li>
              <li class="botan"><a href="counseling">セッション</a></li>
              <li class="botan"><a href="oracle">占い</a></li>
              <li class="botan"><a href="video">動画</a></li>
              <li class="botan"><a href="question">質問</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- box9 -->
  </div><!-- body_c -->
  