
  <div>
    
  <div class="wrap">
  <div class="box4">
  <div class="box5">
    <div class="content-heder">
      <h1><a href="conference_b">癒しの会議</a></h1>
    </div>

    <div class="main">
      <img src="imges/iyasino_1.jpg" class="top">
    </div>

  <div class="content-main">
    <h2>癒しの会議のグランドルール</h2>
  </div>
  <div class="content-main">
    <ol>
      <div class="gurandorurru">
        <li>先生はいません、しいて言えば皆さんが先生です</li>
        <li>自分の意見に責任はありません</li>
        <li>ブレインストーミングで躊躇なく意見を述べてかまいません</li>
        <li>入室退室全て自由意思で</li>
        <li>黙秘権ＯＫ話したくない事は話さなくて結構です</li>
        <li>相対する意見にも学べる機会として感謝します</li>
        <li>会議を通じて自己の内側の理解を深めます</li>
        <li>縁あって参加者同士、お互いに感謝の気持ちを持つと嬉しいです</li>
        <li>プライバシーの観点を持ち守秘義務に努めます</li>
        <li>自己の本質の幸福へ向かいます</li>
      </div>
    </ol>
    <img src="img/neko15.png" class="img3">
  </div>

  </div><!-- wrap -->
  </div><!-- box4 -->
  </div><!-- box5 -->
  <div class="box6">
    <footer id="footer">
      <div class="footer">
        <div class="footer-logo"><h1><a href="question">比嘉行介</a><h1></div>
          <div class="footer-list">
            <ul>
              <li class="botan"><a href="index">トップ</a></li>
              <li class="botan"><a href="conference">会議</a></li>
              <li class="botan"><a href="incense">お香</a></li>
              <li class="botan"><a href="counseling">セッション</a></li>
              <li class="botan"><a href="oracle">占い</a></li>
              <li class="botan"><a href="video">動画</a></li>
              <li class="botan"><a href="question">質問</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- box6 -->
  </div><!-- body_b -->
  