   
  <div id="container"class="body_a">
    
  <div class="wrap">
  <div class="box4">
  <div class="box5">
    <div class="content-heder">
      <h1><a href="counseling_b">マンツーマンセッション</a></h1>
      <!-- <a href="counseling_b"> --><!-- </a> -->
    </div>

    <div class="main">
     <img src="imges/sessyon.jpg" class="top" width="700px">
    </div>
  
  <div class="content-main">
    <p class="px1">大宇宙インセンス</p>
  <p class="px2">オラクルカード占い</p>
  <img src="img/kabin_2.png" class="img1">
  <img src="img/neko29.png" class="img2">
  </div>

  </div><!-- wrap -->
  </div><!-- box4 -->
  </div><!-- box5 -->
  <div class="box6">
    <footer id="footer">
      <div class="footer">
        <div class="footer-logo"><h1><a href="counseling">マンツーマンセッション</a></h1></div>
          <div class="footer-list">
            <ul>
              <li class="botan"><a href="index">トップ</a></li>
              <li class="botan"><a href="conference">会議</a></li>
              <li class="botan"><a href="incense">お香</a></li>
              <li class="botan"><a href="counseling">セッション</a></li>
              <li class="botan"><a href="oracle">占い</a></li>
              <li class="botan"><a href="video">動画</a></li>
              <li class="botan"><a href="question">質問</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- box6 -->
  </div><!-- body_b -->
  