   
  <div id="container"class="body_a">
    
  <div class="wrap">
  <div class="box4">
  <div class="box5">
    <div class="content-heder">
      <h1>マンツーマンセッション</h1>
      <!-- <a href="counseling_b"> --><!-- </a> -->
    </div>

    <div class="main">
      <h2>【セッション体験談】</h2>
        <p>
        行介さんのセッションを受けた後から大きな変化が起き始めました
        そのセッションでいろいろな助言を与えて貰いました
        僕が行動力が欲しいというと、「行動力はすでにあるじゃ
        無いですか」と言ってくれ僕から行動力が無いと思い込んでいた
        呪縛を説いてくれましたその他にも「必ず洲鎌さんの人生を
        向上させて見せます」という一言や「お互いを幸せにする
        関係でいましょう」など心に残る言葉を頂きました
        そしてその言葉通り僕の人生はその後大きな変化を見せ始めました
        ホームページを創り始めたりオラクルカード占いのゲームを創り始めたり
        思いついたことはすぐに行動に移せるようになりました
        そんな活動をしているうちに長年画き続けていた絵にも
        良い影響が出始めました周りの評価も徐々に上がり始めた頃
        絵本製作の話も飛び込んできました
        僕の描いた絵を、買いたいという人が７年ぶりに出てきました
        僕にとって比嘉行介さんは心の師匠と思えるようになってきました
        感謝します。
        </p>
    </div>
  
  <div class="content-main">
    <p class="px1">大宇宙インセンス</p>
  <p class="px2">オラクルカード占い</p>
  <img src="img/kabin_6.png" class="img1">
  <img src="img/neko26.png" class="img2">
  </div>

  </div><!-- wrap -->
  </div><!-- box4 -->
  </div><!-- box5 -->
  <div class="box6">
    <footer id="footer">
      <div class="footer">
        <div class="footer-logo"><h1><a href="counseling">マンツーマンセッション</a></h1></div>
          <div class="footer-list">
            <ul>
              <li class="botan"><a href="index">トップ</a></li>
              <li class="botan"><a href="conference">会議</a></li>
              <li class="botan"><a href="incense">お香</a></li>
              <li class="botan"><a href="counseling">セッション</a></li>
              <li class="botan"><a href="oracle">占い</a></li>
              <li class="botan"><a href="video">動画</a></li>
              <li class="botan"><a href="question">質問</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- box6 -->
  </div><!-- body_b -->
  