
  <div>

  <div class="wrap">
  <div class="box13">
  <div class="box14">
    <div class="content-heder">
      <h1><a href="incense_b">大宇宙インセンス</a></h1>
    </div>

    <div class="main">
      <img src="imges/insensu_1.jpg" class="top">
    </div>

  <div class="content-main">
  <div class="content-main">
    <p class="px1">自家栽培と沖縄の自然の植物を</p>
    <p class="px2">手作り配合</p>
    <img src="img/kabin_3.png" class="img1">
    <img src="img/neko10.png" class="img2">
  </div>

  </div><!-- wrap -->
  </div><!-- box13 -->
  </div><!-- box14 -->
  <div class="box15">
    <footer id="footer">
      <div class="footer">
        <div class="footer-logo"><h1><a href="question">比嘉行介</a><h1></div>
          <div class="footer-list">
            <ul>
              <li class="botan"><a href="index">トップ</a></li>
              <li class="botan"><a href="conference">会議</a></li>
              <li class="botan"><a href="incense">お香</a></li>
              <li class="botan"><a href="counseling">セッション</a></li>
              <li class="botan"><a href="oracle">占い</a></li>
              <li class="botan"><a href="video">動画</a></li>
              <li class="botan"><a href="question">質問</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- box15 -->
  </div><!--  -->
  