
  <div id="container">
    
  <div class="wrap">
  <div class="box4">
  <div class="box5">
    <div class="content-heder">
       <h1 class="i">大宇宙インセンス（仮)</h1>
    </div>

    <div class="main">
      <div class="main">
         <h2  class="i2">無条件の愛</h2>
         <a href="#sec3"><p>下</p></a>
      </div>
      <div>
        <img src="imges/insensu_2.jpg" class="inse">
      </div>
      <div class="p">
        <p>こんばんは、大宇宙インセンスのヒガです。
          今年の末頃から作成にとりかかる分の材料の
          調達を少しずつ行っています。
          できるだけ自分で育てた植物や沖縄の自然から取れた
          材料を使ってインセンスを作っています。
          今年も豊作のトゥルシー（ホーリーバジル）は、
          今時季からちょこちょこと収穫をしては、
          食べたり乾燥させたりして、その恩恵をいただいています。
          大宇宙インセンスを構成している１つの材料としてのトゥルシー。
          そのトゥルシーの持つ香りのメッセージは、
          『愛情に満ちて心が開かれている』と、
          インセンスの手引書incenseトーマス.キンケレ著は、そのように示しています。
          トゥルシー単体で、香を焚くと鼻に突き刺さるような匂いがします。
          この香りは本質に向かおうとする意識を覚まさせるような、
          ハッとさせられるような感覚に至ります。
          愛に開かれている意識状態を得るためには、このようにお香を用いて
          供物として神に捧げたり、愛について瞑想したり、祈りを捧げると良いとされています。
          我々、高度な社会システムを持った物質社会にいると様々な
          恩恵が得られていると同時に、それに伴い複雑化する中で多くの
          汚れも受けやすい状態の中にいます。濁りなく澄んだ状態でいられる為には、
          意識して自分自身を制御していく事が必要だと思います。
          その１つのツールになるのが、お香。だと僕は思っています。
          トゥルシーは、胸のチャクラ（アナーハタチャクラ）に働きかけ、
          プライド・卑屈・執着・愛著・の煩悩的な汚れを取り除き、
          比較でない真の名誉、高貴さが得られると言われています。<br>
          ps.今度は沖縄ヤンバルの森にて材料を調達してきます。今日もありがとうございました。
        </p>
      </div>

      <div>
        <h2  class="i">無条件の愛</h2>
          <a href="#sec1"><p id="sec3">上</p></a>
      </div>
      <div class="p">
        <p>僕は、愛されてて良かったぁ
        ところで、意に反して売れ行きの良い、
        大宇宙インセンス（仮）。
        今月末までに6個の注文が入ってたから、
        今日でめっちゃ粉末にしたり、
        次回の為の材料調達して干して、
        ようやく下準備完了
        あとは、それぞれ小瓶に詰め替えてパワーを
        入れてお届けするだけ
        話変わるけど今日の昼過ぎは、
        昔馴染みの男友達と一緒に少しオシャベリしながら
        ドライブしてたけど、そいつの否定的感情と現実主義観念の
        相手してたら、何が、そいつをそうさせているのかが、
        わかった。シンプルに言うと、愛情不足。
        愛された経験に乏しいのだと思った。
        無条件の愛こそ、人には必要な事かもしれない。
        </p>
      </div>
    </div><!-- main -->

  </div><!-- wrap -->
  </div><!-- box4 -->
  </div><!-- box5 -->
  <div class="box6">
    <footer id="footer">
      <div class="footer">
        <div class="footer-logo"><h1><a href="question">比嘉行介</a><h1></div>
          <div class="footer-list">
            <ul>
              <li class="botan"><a href="index">トップ</a></li>
              <li class="botan"><a href="conference">会議</a></li>
              <li class="botan"><a href="incense">お香</a></li>
              <li class="botan"><a href="counseling">セッション</a></li>
              <li class="botan"><a href="oracle">占い</a></li>
              <li class="botan"><a href="video">動画</a></li>
              <li class="botan"><a href="question">質問</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- boxc9 -->
  </div><!-- body_b -->
  