
  <div>
    <div class="title">
      <img src="img/title.png">
    </div>
  <div class="wrap">
  <div class="box1">
  <div class="box2">
    <div class="content-heder">
      <h1>癒しの追求</h1>
    </div>

    <div class="main">
      <img src="imges/higakousuke_1.jpg" class="top">
    </div>
    <p class="px1">恐れを選択しない</p>
    <p class="px2">本質の癒しとは</p>
    <img src="img/kabin_1.png" class="img1">
    <img src="img/neko27.png" class="img2">
  </div><!-- wrap -->
  </div><!-- box1 -->
  </div><!-- box2 -->
  <div class="box3">
    <footer id="footer">
      <div class="footer">
        <div class="footer-logo"><h1><a href="question">比嘉行介</a><h1></div>
          <div class="footer-list">
            <ul>
              <li class="botan"><a href="index">トップ</a></li>
              <li class="botan"><a href="conference">会議</a></li>
              <li class="botan"><a href="incense">お香</a></li>
              <li class="botan"><a href="counseling">セッション</a></li>
              <li class="botan"><a href="oracle">占い</a></li>
              <li class="botan"><a href="video">動画</a></li>
              <li class="botan"><a href="question">質問</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    </div><!-- box3 -->
  </div><!-- body_a -->
  