<section class="container">
<div class="row">
<div class="col-sm-4 bgme">
  <%= image_tag @oracle_card.image_url, class: "card-img-top" %>
</div>

<div class="col-sm-8 bg">
<h2 class="mt-0">【<%= @oracle_card.title %>】</h5>

<p>
  <%= @oracle_card.description.html_safe %>
</p>

<h5>【Helper】助っ人</h5>

<p>
  <%= @oracle_card.helper_description&.html_safe %>
</p>

</div>
</div>
</section>
