<section class="container">
<div class="row">
<div class="col-sm-4 bgme">
<a href="oracle_b"><img src="img/cord5_ura.png" class="card-img-top" alt="カード画像"></a>
</div>

<div class="col-sm-8 bg">
<h5 class="mt-0">数秘術占い</h5>

<p>自主制作した占いゲームです、天使たちは私たちに何かのメッセージを常に<br>
送り続けています一番伝わりやすいのが数字電話番号や車のナンバーなど<br>
最近よく見かけるという番号はありませんか？それはもしかしたら天使たち<br>
からのメッセージかもしれませんよ、ここではその数字で占って行きます</p>
<br>
<br>
<br>
<p>まずは心を充分に静めてからカードをクリックしてください</p>

</div>
</div>

</section>

