
  <div>

  <div class="wrap">
  <div class="box4">
  <div class="box5">
    <div class="content-heder">
      <h1>【不安】</h1>
    </div>

    <div class="main">
      
      <img src="img/fuan.png" width="250px"  height="404px" class="card">
      <p class="p">
       不安。不安と言う感情は、五大感情（楽しみ・嫌気・悲しみ・恐れ・怒り）の恐れの中にあるパーツの一つです。
       このカードを引いたあなたは、訪れるかもしれない脅威への不安を感じていたり、又は周りで不安を感じていたりする人の影響を受けていたりするのではないでしょうか？
       健康面での不安、仕事における不安、人間関係、将来の展望、金銭面、異性関係、それらの不安に苛まれている時、手立ての打ちようが無い無力感や、それを回避しようと過剰になって取越し苦労をしていませんか？
       不安を感じている時は、消極的になっていたりネガティブに物事を考えやすくもなります。イライラとしたり怒りっぽくもなります。不安は、逃避や攻撃の対象として捉えられる事がよくあります。
       暴飲暴食、ギャンブルやsexなどその場しのぎの興奮を求めてみたり、心の隙間に入り込む悪徳ビジネスや、カルト宗教、不安をあおる自己啓発セミナー、更には身を滅ぼすドラッグの使用。これらは、全て【不安】からくる逃避行動とも考えられます。
       不安は、恐れのハウスの中で展開しています。逆に恐れの中でしか生きられない性質を持っています。
       人間は、大事にしている事、大切な人や物、そう言った風に思う事が出来てくると必然的にそれを失うかもしれない。と言う脅威への不安が出てきます。
       しかし、冷静に考えてみると、それは皆んな一緒の事。不安を感じない人間なんて存在しないでしょう。
       では、解決策がなくただ呆然と、この不安と言う感情を雨雲が通り過ぎるのを待つかのように暗い気持ちでひたすら待つしかないのでしょうか？
       このカードがあなたに、伝えたいメッセージは、《目を見開いて今の現実に適切に向き合う事》を示しています。
       適切に向き合う事は、正しく物事を見る事でもあります。
       不安があるから、準備や備えができる。
       不安があるから、他者に協力を求める事ができる
       不安があるから、同じような不安を持つ人の気持ちを理解する事できる。
       不安があるから、修正、改善する事ができる。
       不安があるから、傲慢、慢心にならずにいられる。
       と、このように不安を正しく見ていくと、その奥（裏側）には、恩恵があります。
       適切に不安と向き合う事で、それは脅威だけでは無い事が見えてきます。
       そうしていく内に、恐怖のハウスの中に自ら入っていた事に気づいていきます。家や教室と言う空間では、決まり事や固定観念が支配しやすい性質があります。そういった場にいるとなかなか物事を自分の目で正しく観る事が難しくなってきます。
       それは、物理的にも心理的にも言わばフレームの中に閉じ込められた状態と言ってもいいでしょう。
       もし、不安を感じてしまっている場合、今自分は、恐怖や不安と言うフレームの中に入ってしまっていないか？と確認して行く事も有効かもしれません。（reframing！）
       あなたが、恐怖や、不安から抜け出し輝いて生きる事を皆んなが待っている事でしょう??
     </p>
    <h2>【Helper】助っ人</h2>
    <p class="p">
      そんな、不安を感じている時に手助けしてくれるのが、聖なる植物のエッセンスです。このカードで助っ人の役目を果たしてくれるのが、《ラベンダー》です。ラベンダーは、心を鎮めて落ち着かさせてくれる、多面性を持つエッセンスです。あらゆる種類の問題に効き目を発揮します。宗教的な部分でも伝統的に使われてきた植物でもあります。
      今日でも教会の香の調合として使われています。
    </p>
      
    </div>

  <div class="content-main">

  </div>

  </div><!-- wrap -->
  </div><!-- box4 -->
  </div><!-- box5 -->
  <div class="box6">
    <footer id="footer">
      <div class="footer">
        <div class="footer-logo"><h1><a href="question">比嘉行介</a><h1></div>
          <div class="footer-list">
            <ul>
              <li class="botan"><a href="index">トップ</a></li>
              <li class="botan"><a href="conference">会議</a></li>
              <li class="botan"><a href="incense">お香</a></li>
              <li class="botan"><a href="counseling">セッション</a></li>
              <li class="botan"><a href="oracle">占い</a></li>
              <li class="botan"><a href="video">動画</a></li>
              <li class="botan"><a href="question">質問</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- box6 -->
  </div><!-- body_b -->
  