
  <div>

  <div class="wrap">
  <div class="box4">
  <div class="box5">
    <div class="content-heder">
      <h1>オラクルカード</h1>
    </div>

    <div class="main">
      <a href="oracle_b"><img src="img/cord5_ura.png" width="250px"  height="404px" class="card"></a>
      <p class="p2">まだ未完成です１年後に完成予定です</><p class="p2">気持ちを静めて落ち着いたら集中してカードをクリックしてください</p>
   </div>

  <div class="content-main">

  </div>
  <img src="img/kabin_4.png" class="img4">
  <img src="img/neko25.png" class="img5">
  </div><!-- wrap -->
  </div><!-- wrap -->
  </div><!-- box4 -->
  </div><!-- box5 -->
  <div class="box6">
    <footer id="footer">
      <div class="footer">
        <div class="footer-logo"><h1><a href="question">比嘉行介</a><h1></div>
          <div class="footer-list">
            <ul>
              <li class="botan"><a href="index">トップ</a></li>
              <li class="botan"><a href="conference">会議</a></li>
              <li class="botan"><a href="incense">お香</a></li>
              <li class="botan"><a href="counseling">セッション</a></li>
              <li class="botan"><a href="oracle">占い</a></li>
              <li class="botan"><a href="video">動画</a></li>
              <li class="botan"><a href="question">質問</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- box6 -->
  </div><!-- body_b -->
  