<div class="wrap">
  <div class="box-bg"></div>
  <div class="box-content">
    <header>
      <div class="content-heder">
        <h1>ご注文完了</h1>
      </div>
    </header>
    <div class="main">
      <p>
        ご注文を受け付けました。<br>
        数日以内にご入力いただいたメールアドレス宛に返信させていただきます。<br>
        1 週間以上返信がない場合はメールアドレスを間違えている可能性がありますので、
        再度こちらよりご注文していただけますと幸いです。
      </p>
    </div>
  </div><!-- box-content -->
</div><!-- wrap -->

<div class="box-footer">
  <footer id="footer">
    <div class="footer">
      <div class="footer-logo"><h1><a href="question">比嘉行介</a><h1></div>
        <div class="footer-list">
          <ul>
            <li class="botan"><a href="index">トップ</a></li>
            <li class="botan"><a href="conference">会議</a></li>
            <li class="botan"><a href="incense">お香</a></li>
            <li class="botan"><a href="counseling">セッション</a></li>
            <li class="botan"><a href="oracle">占い</a></li>
            <li class="botan"><a href="video">動画</a></li>
            <li class="botan"><a href="question">質問</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div><!-- box-footer -->

