
   <div>

  <div class="wrap">
  <div class="box16">
  <div class="box17">
    <header>
    <div class="content-heder">
      <h1 >プロフィール</h1>
      <img src="imges/higakousuke_3_1.jpg" class="profile_1">
      <p class="p">まだ未完成です、<br>
      下のフォームは使えません連絡は<br>
      メールでお願いします.<br>
      比嘉行介<br>
      沖縄県浦添市出身<br>
      那覇市在住<br>
      大宇宙インセンスの発注に関しましては<br>
      リアライズコミュニケーションにて<br>
      全て管理しております<br>
      初回購入の方は住所が必要ですので<br>
      こちらからお願いいたします⇒<a href="https://goo.gl/2Lp2Jc">https://goo.gl/2Lp2Jc</a>
      </p>
   </div>
   </header>
  <div class="main">
    <div class="contact-form">
    <form action="question_send" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <h3 class="section-title">お問い合わせ</h3>

    <% if not @error_messages.nil? and @error_messages.size > 0 %>
      <ul class="contact-error-message">
        <% @error_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    
      <p class="contact-content">メールアドレス（必須）</p>
        <input name="email" type="text" value="<%= @email %>">
      <p class="contact-content">お問い合わせ内容（必須）</p>
        <!-- <textarea>要素を追加してください -->
        <textarea name="message"><%= @message %></textarea>
      <p class="contact-content" >※必須項目は必ずご入力ください</p>
        <!-- <input>要素を追加してください -->
        <input class="contact-submit" type="submit">
    </form>
      </div>
  </div>

  <div class="content-main">
    <img src="img/kabin_5.png" class="img6">
    <img src="img/neko24.png" class="img3">
  </div>

  </div><!-- wrap -->
  </div><!-- box16 -->
  </div><!-- box17 -->
  <div class="box18">
    <footer id="footer">
      <div class="footer">
        <div class="footer-logo"><h1><a href="question">比嘉行介</a><h1></div>
          <div class="footer-list">
            <ul>
              <li class="botan"><a href="index">トップ</a></li>
              <li class="botan"><a href="conference">会議</a></li>
              <li class="botan"><a href="incense">お香</a></li>
              <li class="botan"><a href="counseling">セッション</a></li>
              <li class="botan"><a href="oracle">占い</a></li>
              <li class="botan"><a href="video">動画</a></li>
              <li class="botan"><a href="question">質問</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- box18 -->
  </div><!-- body_a -->
  
