  <div>
  <div class="wrap">
  <div class="box10">
  <div class="box11">
    <div class="content-heder">
      <h1>比嘉行介動画集</h1>
    </div>
    <div class="video_main">
    <h2>岩場</h2>
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F100023202098016%2Fvideos%2F218432685606800%2F&show_text=0&width=320" width="320" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> 
    </div>
    <div class="video_main">
    <h2>波音</h2>
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F100023202098016%2Fvideos%2F218430825606986%2F&show_text=0&width=320" width="320" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
   <div class="video_main">
    <h2>水辺</h2>
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F134992403940387%2Fvideos%2F147373042702323%2F&show_text=0&width=320"width="320" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0"allowTransparency="true" allowFullScreen="true"></iframe>
   </div>
  </div><!-- wrap -->
  </div><!-- box10 -->
  </div><!-- box11 -->
    <div class="box12">
      <footer id="footer">
        <div class="footer">
          <div class="footer-logo"><h1><a href="counseling">マンツーマンセッション</a></h1></div>
            <div class="footer-list">
              <ul>
                <li class="botan"><a href="index">トップ</a></li>
                <li class="botan"><a href="conference">会議</a></li>
                <li class="botan"><a href="incense">お香</a></li>
                <li class="botan"><a href="counseling">セッション</a></li>
                <li class="botan"><a href="oracle">占い</a></li>
                <li class="botan"><a href="video">動画</a></li>
                <li class="botan"><a href="question">質問</a></li>
              </ul>
            </div>
          </div>
        </div><!-- -->
      </footer>
    </div><!-- box12  -->
  </div>
  